/**
   公共样式
    */
*{
    margin: 0;
    padding: 0;
}
/*html是背景板*/
html{
    height: 22024px;
    background-color: #F5F5F5;
    padding-top: 56px;
}
/*body是中心部分*/
body{
    height: 100%;
    background-color: #FFFFFF;
    /*124/1280=0.0968*/
    margin: 0 5.6%;
    z-index: -1;
}
/*单独设置超出中间位置的元素中的内容，使其不超出下下层的中间位置。*/
/*center只有一个作用*/
.cen{
    /*124/1280=0.0968*/
    margin: 0 9.6%;
}
a{
    color: #000;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

ul li{
    list-style-type: none;
}
/* 阿里巴巴的svg图标*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

